@use "../../styles/vars.scss";
@use "sass:color";

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 2.4em;
  column-gap: 1em;


  background-color: vars.$background-color;
  padding: 1em;
  color: vars.$text-color;

  &__container {
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1;
    // background-color: red;

    &--left {
      justify-content: left;
    }
    &--middle {
      justify-content: center;
    }
    &--right {
      justify-content: right;
      column-gap: 1em;
    }


  }

  &__logo {
    border-bottom: 0.2em solid transparent;
    transition: vars.$default-transition;


    &:hover {
      border-bottom-color: vars.$text-color;
      transition: vars.$hover-transition;
    }

    &:active {
      transform: scale(1.1);
      transition: vars.$active-transition;
    }


    &-text {
      font-size: 2em;
    }
  }
}
